<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script type="text/javascript">
    function blockChain(type){
        axios({
            url: '/api', // 통신할 웹문서
            method: 'post', // 통신할 방식
            data:   { // 인자로 보낼 데이터
                        TYPE:   type,
                        KEY:    document.getElementById('privateKey').value,
                        WALLET: document.getElementById('publicKey').value,
                        AMOUNT: document.getElementById('coin').value
                    }
        })
        .then(function (response) {
            if(response.status == 201){
                if(response.data.result){
                    paging(response.data,type);
                }else{
                    document.getElementById("response").innerHTML = JSON.stringify(response.data);
                }
            }else{
                document.getElementById("response").innerHTML = response;
            }
        });

    }

    function paging(dataSource,type){
        let htmlText = ''
        switch (type) {
            case 'wallet':
                htmlText = wallet(dataSource);
                break;
            case 'newWallet':
                htmlText = newWallet(dataSource);
                break;          
            default:
                htmlText = JSON.stringify(dataSource);
                break;
        }
        document.getElementById("response").innerHTML = htmlText;
    };

    

    function newWallet(dataSource){
        let htmlText = `<table cellspacing="1">  
                            <thead> 
                                <tr>
                                    <td>
                                        새 지갑이 생성되었습니다.
                                    </td>  
                                </tr><tr>
                                    <td>
                                        ${dataSource.data}
                                    </td>
                                </tr>                                
                            </thead>
                        </table> `;
        return htmlText;
    };
</script>

<style type="text/css">
 
    table, td{
        border: 1px solid rgb(200, 200, 200)
    }
    
    table{
        width:  100%;
        height: auto;
        margin: auto;
        
        text-align: center;
    }
    
    input[type=button] {
        margin: 0;
        padding: 0.5rem 2rem;

        font-family: "Noto Sans KR", sans-serif;
        font-size: 1rem;
        font-weight: 400;
        text-align: center;
        text-decoration: none;

        display: inline-block;
        width: 150px;

        border: none;
        border-radius: 10px;
    }
</style>

<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>BlockChain</title>
</head>
<body>

<table cellspacing="1">  
    <thead>         
        <tr>
            <td>
                <table cellspacing="1">  
                    <thead> 
                        <tr>
                            <td>
                                마스터 키
                            </td>   
                            <td>
                                <input type="text" id="privateKey" required maxlength="64" size="130" placeholder="개인 키">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                입금주소
                            </td>   
                            <td>
                                <input type="text" id="publicKey" required maxlength="130" size="130" placeholder="지갑 주소" value="Bank">
                            </td>
                        </tr>                          
                        <tr></tr>
                        <tr>
                            <td>
                                금액
                            </td>   
                            <td>
                                <input type="text" id="coin" required maxlength="16" size="130" placeholder="코인 갯수">
                            </td>
                        </tr>                                  
                    </thead>
                </table>                
            </td>
            <td>
                <table cellspacing="1">  
                    <thead>                                              
                        <tr>
                            <td>
                                <input type="button" onclick='blockChain("minting")' value="코인발행" size="14">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" onclick='blockChain("burn")' value="코인소각" size="14">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" onclick='blockChain("airDrop")' value="에어드랍" size="14">
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="button" onclick='blockChain("createNewBlock")' value="블록생성" size="14">
                            </td>
                        </tr>   
                    </thead>
                </table>        
            </td>
        </tr>        
        <tr>
            <td colspan="2">
                <div id="mainBody"></div>
            </td>
        </tr>  
        <tr>
            <td colspan="2">
                <div id="response" ></div>
            </td>
        </tr>
    </thead>
</table>

</body>
</html>